@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.navbar-webkit {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	.course-content-webkit {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.checkbox:checked {
		background-color: var(--gray);
		background-image: url(".../../assets//images//white-check.png");
		background-repeat: no-repeat;
		background-size: 11px;
	}

	.ann-cooment-webkit {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "SF Pro Text", "BlinkMacSystemFont", "Roboto", "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	scroll-behavior: smooth;
}
